<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="/jsrmi.js"></script>
    </head>

    <body>
        <input id="image-file" type="file" onchange="SavePhoto(this)">
        <script>
            var file = new jsrmi("fiileuploader");
            function SavePhoto(e) {
                file.upload(e.files[0]).then(() => {
                    console.log("fsd");
                });
            }
        </script>
    </body>

</html>